langchain
pydantic
python-dotenv
dotenv
langchain-openai
langchain-groq
langchain-community
ipykernel 
beautifulsoup4
langchain-text-splitters
fastapi
geopy
uiautomator2
pillow
langchain-core
langgraph
langgraph-cli
uuid
mcp